<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>817486061829-krvmrjo91bqnv8rn0i1ukk2omduq5jt0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817486061829-krvmrjo91bqnv8rn0i1ukk2omduq5jt0</string>
	<key>API_KEY</key>
	<string>AIzaSyA7Umz4YL6X_AkOimRyvZ8oWJm4sWH42x8</string>
	<key>GCM_SENDER_ID</key>
	<string>817486061829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hr.eazework.com</string>
	<key>PROJECT_ID</key>
	<string>eazehr-fd691</string>
	<key>STORAGE_BUCKET</key>
	<string>eazehr-fd691.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817486061829:ios:8b43a9113dc98adf</string>
	<key>DATABASE_URL</key>
	<string>https://eazehr-fd691.firebaseio.com</string>
</dict>
</plist>